For now, this notebook serves as a basic NN training test. #WIP

By Xiao Lin

In [22]:
from utils import *

aqi_df = df_prep(file_dir)
aqi_df

,City,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
0,Praskoveya,51,1,36,0,51
1,Presidente Dutra,41,1,5,1,41
2,Priolo Gargallo,66,1,39,2,66
3,Przasnysz,34,1,34,0,20
4,Punaauia,22,0,22,0,6
...,...,...,...,...,...,...
23458,Gursahaiganj,184,3,154,2,184
23459,Sceaux,50,1,20,5,50
23460,Mormugao,50,1,22,1,50
23461,Westerville,71,1,44,2,71
23462,Marang,70,1,38,0,70